$plus-mark-top: 48px;
$plus-mark-left: 24px;

.add-todo {


	.add-todo-title {
		background-color: #acacac;
		color: white;
	}
	.circle-plus {
		display: block;
		margin: 1em auto;
		cursor: pointer;
		height: 45px;
		width: 45px;
		.circle {
			text-align: center;
			i.fa {
				font-size: 2em;
				background-color: #acacac;
				color: white;
				padding: 0.3em;
				border-radius: 50%;
			}
		}
		&:hover {
			.circle {
				i.fa {
					background-color: lighten(#acacac, 5%);
				}
			}
		}
	}
	label {
		margin-top: 1em;
	}
	.input-label {
		position: relative;
		input{
			padding-left: 2em;
		}
		i.fa.fa-plus {
			position: absolute;
			top: $plus-mark-top;
			left: $plus-mark-left;
		}
	}
	.input-detail {
		width: 100%;
		margin-top: 1em;
		button {
			float: right;
			margin-top: 0.5em;
			margin-left: 0.5em;
		}
		.priorities {
			label {

			}
		}
	}
}