$todo-bg-color: rgba(150, 188, 13, 0.2);
$todo-side-border-color: #96BC0D;

.todo {
	position: relative;
	margin-top: 0.5em;
	padding: 1em;
	border-left: 9px solid $todo-side-border-color;
	background-color: $todo-bg-color;
	.check-box {
		cursor: pointer;
		position: relative;
		height: 24px;
		width: 24px;
		vertical-align: middle;
		border: 2px solid #acacac;
		.check-item {
			position: absolute;
			top: -5px;
			left: 0px;
			font-size: 2em;
			opacity: 0;
			&.completed {
				color: black;
				opacity: 1;
			}
		}
		&:hover {
			.check-item {
				color: lighten(#acacac, 15%);
				opacity: 1;
			}
		}
	}
	.todo-control {
		button {
			margin-left: 0.5em;
			float: right;
		}
	}
	.todo-content {
		&.completed {
			h3, p {
				text-decoration: line-through;
			}
		}
	}
	.todo-priority {
		text-align: right;
		p {
			margin-bottom: 0;
		}
	}
	.todo-edit-form {
		button {
			float: right;
			margin-top: 0.5em;
			margin-left: 0.5em;
		}
		label {
			margin-top: 1em;
		}
	}
}