<div class="add-todo-container">
	<div class="add-todo">
		<div class="circle-plus" ng-hide="show_detail" ng-click="show_detail=true">
			<div class="circle">
				<i class="fa fa-plus"></i>
			</div>
		</div>
		<div class="row" ng-show="show_detail" class="add_todo_detail">
			<form>
					<todo-form input="input"></todo-form>
					<div class="col-lg-12">
						<button class="btn btn-success" ng-click="save(input);">Save</button>
						<button class="btn btn-danger" ng-click="close();">Close</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>